* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  color: rgba(76, 78, 100, 0.87);
}




.app {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 2rem;
}

.row {
  display: flex;
}
.flex_col {
  display: flex;
  flex-direction: column;
}
.card_title {
  font-size: 34px;
  font-style: normal;
  font-weight: 500;
  line-height: 40px;
  letter-spacing: 0.25px;
}
.card_subtitle {
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 32px;
  letter-spacing: 0.15px;
}
.card_text {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.15px;
}
.between {
  justify-content: space-between;
}
.end {
  justify-self: end;
}
.mt-auto {
  margin-top: auto;
}
.p-1 {
  padding: 1rem 1.5rem;
}
.gap-1 {
  gap: 1rem;
}
.shadowed {
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.288);
  border-radius: 0.8rem;
}

@mixin media($size) {
	@media only screen and (max-width: $size) {
	  @content;
	}
  }

.saved__wrapper{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 15px;
  @include media(976px){
    grid-template-columns: repeat(2, 1fr);
  }
  @include media(576px){
    grid-template-columns: 1fr;
  }
}






@media screen and (max-width: 800px) {
}
@media screen and (max-width: 530px) {
}
